# Identify products

In [1]:
import pandas as pd
from pathlib import Path
import csd as c

## <span style="color:red"> Change vendor name in quotes

In [2]:
df = c.pull_cost_data(vendor_name='MERFISH UNITED')

C:\Users\franc\miniconda3\envs\work\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

run_query took 25.627570867538452s

## Pull all of vendor's products

In [3]:
df.head()

,whse,vendno,name,prod,descrip_1,descrip_2,mfgprod,vendprod,pricetype,prodcat,...,replcost,replcostdt,stndcost,stndcostdt,priceonty,prcmult_1,t12m_sales,qtyonhand,qtyonorder,stndprice
0,801,86125,MERFISH UNITED,CPF3012,"1""X20' ""M"" COPPER PIPE",,NA,NA,638,6380,...,75.68,2021-11-08,75.68,2021-11-08,C,2.31,NaN,8.0,0.0,174.82
1,801,86125,MERFISH UNITED,CPF3013A,"1-1/4""X10' ""M"" COPPER",PIPE,,,638,6380,...,50.18,2021-08-16,50.18,2021-08-16,L,1.00,586.62,4.0,0.0,50.18
2,801,86125,MERFISH UNITED,CPF3115,"3/4""X50' REFRIG. COIL",COPPER,100178,100178,638,6380,...,126.67,2021-11-08,126.67,2021-11-08,L,1.00,24055.18,13.0,10.0,126.67
3,801,86125,MERFISH UNITED,CPF3001,"3/4""X20' ""L"" COPPER",PIPE,NA,NA,638,6380,...,68.09,2021-11-08,68.09,2021-11-08,L,1.00,1610.55,10.0,0.0,68.09
4,801,86125,MERFISH UNITED,CPF3110,"1/4"" X 50' REFRIG. COIL",COPPER,100173,100173,638,6380,...,39.65,2021-11-08,39.65,2021-11-08,L,1.00,923.80,2.0,0.0,39.65

In [4]:
df.shape

(75, 27)

In [5]:
df['prod'].drop_duplicates().shape

(53,)

In [6]:
df.columns

Index(['whse', 'vendno', 'name', 'prod', 'descrip_1', 'descrip_2', 'mfgprod',
       'vendprod', 'pricetype', 'prodcat', 'prodcat_descrip', 'unitstock',
       'unitsell', 'unitconv', 'listprice', 'avgcost', 'lastcost', 'replcost',
       'replcostdt', 'stndcost', 'stndcostdt', 'priceonty', 'prcmult_1',
       't12m_sales', 'qtyonhand', 'qtyonorder', 'stndprice'],
      dtype='object')

In [7]:
df.to_clipboard(index=False)

## Check if other vendors supply some of the same products

In [8]:
products_series = df['prod'].drop_duplicates()

In [9]:
products_list = products_series.to_list()

In [10]:
products_CSS = ', '.join(products_list)

In [11]:
products_CSS

'CPF3012, CPF3013A, CPF3115, CPF3001, CPF3110, CPF3022, CPF3012A, CPF3021, CPF3112B, BLK2101A, CPF3001A, CPF3002A, CPF3111, CPF3002, CPF3011, CPF3113, CPF3117, CPF3113B, CPF3114, CPF3023, CPF3015, CPF3025, CPF3000, CPF3024, CPF3000A, CPF3020, CPF3011A, CPF3112, CPF3100, CPF3014, CPF3102A, CPF3026, CPF3013, BLK2101, BLK2103, BLK2102A, BLK2100A, BLK2100, CPF3027, CPF3116, CPF3006, PVC500, PVC220, PVC50, PVC5, PVC320, PVC420, PVC25, PVC251, PVC402, PVC26, PVC50A, PVC401'

In [12]:
equivalents_df = c.pull_cost_data(prod=products_CSS)

C:\Users\franc\miniconda3\envs\work\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

run_query took 13.665905952453613s

In [13]:
equivalents_df

,whse,vendno,name,prod,descrip_1,descrip_2,mfgprod,vendprod,pricetype,prodcat,...,replcost,replcostdt,stndcost,stndcostdt,priceonty,prcmult_1,t12m_sales,qtyonhand,qtyonorder,stndprice
0,801,86125,MERFISH UNITED,BLK2103,"1-1/4""X21' TC BLACK",PIPE,,,635,6350,...,54.87,2021-08-16,54.8700,2021-08-16,C,2.03,NaN,0.0,0.0,111.39
1,801,86125,MERFISH UNITED,BLK2100A,"1/2"" X 10' TC BLACK PIPE",,,,635,6350,...,17.24,2021-08-16,17.2400,2021-08-16,C,4.55,NaN,4.0,0.0,78.44
2,801,86125,MERFISH UNITED,BLK2102A,"1""X10' TC BLACK PIPE",,,,635,6350,...,23.14,2021-10-13,23.1400,2021-10-13,L,1.00,NaN,4.0,0.0,23.14
3,801,86125,MERFISH UNITED,BLK2101,"3/4""X21' TC BLACK PIPE",,,,635,6350,...,34.98,2021-08-16,34.9800,2021-08-16,C,2.46,58.42,4.0,0.0,86.05
4,801,86125,MERFISH UNITED,BLK2100,"1/2"" X 21' TC BLACK PIPE",,,,635,6350,...,17.24,2021-09-17,17.2400,2021-09-17,c,4.50,28.79,2.0,0.0,77.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,601,18821,MERFISH UNITED,PVC500,"3""X10' PVC SCH40 PIPE",,,66911,PVT,7000,...,42.24,2022-02-24,43.0848,2022-02-24,C,1.55,NaN,0.0,0.0,66.78
72,101,18821,MERFISH UNITED,PVC500,"3""X10' PVC SCH40 PIPE",,,66911,PVT,7000,...,42.24,2022-02-24,43.0848,2022-02-24,C,1.55,10806.90,59.0,0.0,66.78
73,602,18821,MERFISH UNITED,PVC500,"3""X10' PVC SCH40 PIPE",,,66911,PVT,7000,...,42.24,2022-02-24,43.0848,2022-02-24,C,1.55,NaN,0.0,0.0,66.78
74,102,18821,MERFISH UNITED,PVC500,"3""X10' PVC SCH40 PIPE",,,66911,PVT,7000,...,42.24,2022-02-24,43.0848,2022-02-24,C,1.55,14676.82,159.0,0.0,66.78
75,801,86125,MERFISH UNITED,PVC220,"2""X20' PVC SCHEDULE 40",PIPE,,,820,7000,...,17.53,2021-08-16,17.5300,2021-08-16,C,2.46,0.00,0.0,0.0,43.12

## <span style="color:red"> Change vendor name in quotes

In [14]:
equivalents_NS_df = equivalents_df[equivalents_df['name'].str.contains('MERFISH UNITED') == False]

In [15]:
equivalents_NS_df.shape

(1, 27)

In [16]:
equivalents_NS_df

,whse,vendno,name,prod,descrip_1,descrip_2,mfgprod,vendprod,pricetype,prodcat,...,replcost,replcostdt,stndcost,stndcostdt,priceonty,prcmult_1,t12m_sales,qtyonhand,qtyonorder,stndprice
20,801,83801,PASSAIC METAL INTER CO,PVC401,"1""X10' PVC SCH40 PIPE",,,,820,7000,...,8.88,2021-11-08,8.88,2021-11-08,C,1.65,596.26,59.0,0.0,14.65

In [17]:
equivalents_NS_df.to_clipboard()

## <span style="color:red"> If the result of two cells above does not yield (0,*) AND does not have an irrelavant vendor (e.g. PASSAIC METAL INTER CO), activate and use the cells below to learn about equivalent products from other vendors

## Check how many equivalent products we buy each of the other RELEVANT vendors (e.g. not PASSAIC METAL INTER CO)

"""
check how many items we order from the alternate vendor(s)
based in the result, we can decide whether or not to include those products in our analysis
"""
alt_vend_prod_df_1 = c.pull_cost_data(vendor_name='DIVERSITECH CORPORATION')

alt_vend_prod_df_1.drop_duplicates(subset=['prod']).shape

pre_df_1 = pd.concat([alt_vend_prod_df_1,equivalents_NS_df])

alt_vend_relevant_prod_df_1 = pre_df_1.loc[pre_df_1.duplicated()]

alt_vend_relevant_prod_df_1.shape

## Combine products from other vendor(s)

df = pd.concat([df,alt_vend_prod_df_1])

## <span style="color:red"> Don't skip this section without checking the results of equivalent_NS_df.shape

# Check product redundancies

# view redundancies
df.loc[df.duplicated(subset=['whse','prod'],keep=False)].sort_values(by=['prod','whse']).to_clipboard(index=False)

# check number of redundant rows (this includes ALL doubled rows)
df.loc[df.duplicated(subset=['whse','prod'],keep=False)].shape

# check if there is any difference in any of the entries of redundant rows
df.loc[df.duplicated(subset=['whse','prod'],keep=False)].drop_duplicates(keep=False)

## Save Product Info

## <span style="color:red"> Change the vendor name in last part of file path

In [20]:
loc = Path.cwd().parent / 'data' / 'merfish_product_info.csv'
df.to_csv(loc, index=False)