# Identify products

In [2]:
import pandas as pd
from pathlib import Path
import csd as c

## <span style="color:red"> Change vendor name in quotes

In [3]:
df = c.pull_cost_data(vendor_name='MERFISH UNITED')

C:\Users\franc\miniconda3\envs\work\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

run_query took 19.78862953186035s

## Pull all of vendor's products

In [4]:
df.head()

,whse,vendno,name,prod,descrip_1,descrip_2,mfgprod,vendprod,pricetype,prodcat,...,replcost,replcostdt,stndcost,stndcostdt,priceonty,prcmult_1,t12m_sales,qtyonhand,qtyonorder,stndprice
0,801,86125,MERFISH UNITED,CPF3100,"1/4"" X 60' ""L"" COIL","COPPER (3/8""OD)","1/4"" X 60'L COIL COP",184,638,6380,...,39.20,2021-08-16,39.20,2021-08-16,C,1.612903,NaN,0.0,0.0,63.23
1,801,86125,MERFISH UNITED,CPF3012,"1""X20' ""M"" COPPER PIPE",,NA,204,638,6380,...,75.68,2021-11-08,75.68,2021-11-08,C,1.612903,NaN,8.0,0.0,122.06
2,801,86125,MERFISH UNITED,BLK2103,"1-1/4""X21' TC BLACK",PIPE,,WIBTCA53A0120140S,635,6350,...,54.87,2021-08-16,54.87,2021-08-16,C,2.030000,NaN,0.0,0.0,111.39
3,801,86125,MERFISH UNITED,CPF3015,"2""X20' ""M"" COPPER PIPE",,NA,207,638,6380,...,192.82,2021-08-16,192.82,2021-08-16,C,1.612903,NaN,0.0,0.0,311.00
4,801,86125,MERFISH UNITED,CPF3114,"5/8""X50' REFRIG. COIL",COPPER,100177,239,638,6380,...,106.72,2021-11-08,106.72,2021-11-08,C,1.612903,894.38,4.0,0.0,172.13

In [5]:
df.shape

(75, 27)

In [6]:
df['prod'].drop_duplicates().shape

(53,)

In [7]:
df.columns

Index(['whse', 'vendno', 'name', 'prod', 'descrip_1', 'descrip_2', 'mfgprod',
       'vendprod', 'pricetype', 'prodcat', 'prodcat_descrip', 'unitstock',
       'unitsell', 'unitconv', 'listprice', 'avgcost', 'lastcost', 'replcost',
       'replcostdt', 'stndcost', 'stndcostdt', 'priceonty', 'prcmult_1',
       't12m_sales', 'qtyonhand', 'qtyonorder', 'stndprice'],
      dtype='object')

In [8]:
df.to_clipboard(index=False)

## Check if other vendors supply some of the same products

In [9]:
products_series = df['prod'].drop_duplicates()

In [10]:
products_list = products_series.to_list()

In [11]:
products_CSS = ', '.join(products_list)

In [12]:
products_CSS

'CPF3100, CPF3012, BLK2103, CPF3015, CPF3114, CPF3012A, CPF3021, CPF3110, CPF3002, CPF3111, CPF3025, CPF3000, CPF3116, CPF3112B, CPF3022, CPF3117, CPF3011, CPF3027, CPF3002A, CPF3115, CPF3001, CPF3014, CPF3001A, CPF3113B, CPF3023, CPF3113, CPF3013, CPF3026, CPF3102A, CPF3006, CPF3011A, CPF3112, CPF3013A, CPF3000A, CPF3020, CPF3024, BLK2102A, BLK2100A, BLK2100, BLK2101, BLK2101A, PVC5, PVC50, PVC402, PVC500, PVC220, PVC251, PVC50A, PVC25, PVC401, PVC420, PVC26, PVC320'

In [13]:
equivalents_df = c.pull_cost_data(prod=products_CSS)

C:\Users\franc\miniconda3\envs\work\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

run_query took 27.59021258354187s

In [14]:
equivalents_df

,whse,vendno,name,prod,descrip_1,descrip_2,mfgprod,vendprod,pricetype,prodcat,...,replcost,replcostdt,stndcost,stndcostdt,priceonty,prcmult_1,t12m_sales,qtyonhand,qtyonorder,stndprice
0,801,86125,MERFISH UNITED,BLK2101,"3/4""X21' TC BLACK PIPE",,,WIBTCA53A0060113S,635,6350,...,34.98,2021-08-16,34.9800,2021-08-16,C,2.460000,58.42,4.0,0.0,86.05
1,801,86125,MERFISH UNITED,BLK2100A,"1/2"" X 10' TC BLACK PIPE",,,WIBTOA53A0040109S10,635,6350,...,17.24,2021-08-16,17.2400,2021-08-16,C,4.550000,NaN,4.0,0.0,78.44
2,601,18821,MERFISH UNITED,PVC251,"3/4""X10' PVC SCH40 PIPE",,,66926,PVT,7000,...,6.72,2022-02-24,6.8544,2022-02-24,C,1.587302,NaN,0.0,0.0,10.88
3,602,18821,MERFISH UNITED,PVC251,"3/4""X10' PVC SCH40 PIPE",,,66926,PVT,7000,...,6.72,2022-02-24,6.8544,2022-02-24,C,1.587302,NaN,0.0,0.0,10.88
4,101,18821,MERFISH UNITED,PVC251,"3/4""X10' PVC SCH40 PIPE",,,66926,PVT,7000,...,6.72,2022-02-24,6.8544,2022-02-24,C,1.587302,28231.73,492.0,0.0,10.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,801,86125,MERFISH UNITED,CPF3021,"1/2""OD X 20' ""ACR",COPPER PIPE,,222,638,6380,...,37.68,2021-11-08,37.6800,2021-11-08,C,1.612903,NaN,11.0,0.0,60.77
72,801,86125,MERFISH UNITED,CPF3110,"1/4"" X 50' REFRIG. COIL",COPPER,100173,235,638,6380,...,39.65,2021-11-08,39.6500,2021-11-08,C,1.612903,923.80,1.0,10.0,63.95
73,801,86125,MERFISH UNITED,CPF3015,"2""X20' ""M"" COPPER PIPE",,NA,207,638,6380,...,192.82,2021-08-16,192.8200,2021-08-16,C,1.612903,NaN,0.0,0.0,311.00
74,801,86125,MERFISH UNITED,CPF3011,"3/4""X20' ""M"" COPPER",PIPE,NA,203,638,6380,...,49.52,2021-11-08,49.5200,2021-11-08,C,1.612903,313.15,7.0,0.0,79.87
75,801,86125,MERFISH UNITED,CPF3113,"1/2"" X 50' REFRIG. COIL",COPPER,100176,238,638,6380,...,79.74,2021-11-08,79.7400,2021-11-08,C,1.612903,1690.88,3.0,0.0,128.61

In [15]:
# get rid of rows with irrelevant vendors with PASSAIC METAL, PAMPCO, or GURTMAN in their names
equivalents_df_cleaned = equivalents_df.loc[(equivalents_df['name'].str.contains('PASSAIC METAL') == False) & 
                                            (equivalents_df['name'].str.contains('PAMPCO') == False) &
                                            (equivalents_df['name'].str.contains('GURTMAN') == False) ]

## <span style="color:red"> Change Vendor Name in Quotes

In [16]:
equivalents_other_vendors_df = equivalents_df_cleaned.loc[equivalents_df_cleaned['name'].str.contains('MERFISH UNITED') == False]

## <span style="color:red"> Change Vendor Name in Quotes

In [17]:
if equivalents_df_cleaned.shape[0] == 0:
    final_df = df
else:
    for item in equivalents_other_vendors_df['prod'].unique():
        item_df = equivalents_df_cleaned.loc[equivalents_df_cleaned['prod'] == item]
        item_t12m_sales_df = item_df.groupby(by=['prod','name'],as_index=False).agg({'t12m_sales':'sum'})
        max_sales = item_t12m_sales_df['t12m_sales'].max()
        if item_t12m_sales_df.loc[item_t12m_sales_df['name'] == 'MERFISH UNITED', 't12m_sales'] == max_sales:
            rows_to_add_df = equivalents_other_vendors_df.loc[equivalents_other_vendors_df['prod'] == item]
            df = pd.concat([df,rows_to_add_df])
        else:
            df = df
    final_df = df

## Save Product Info

## <span style="color:red"> Change the vendor name in last part of file path

In [19]:
loc = Path.cwd().parent / 'data' / 'merfish_product_info.csv'
final_df.to_csv(loc, index=False)