# Curate in-scope invoice data set
Keep only data that is not labeled as excluded for any reason, and add any necessary labels.

Labels:
* Warehouse demographics (division, warehouse name)

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
loc = Path.cwd().parent / 'data' / 'generated' / 'invoice_data_1_exclusions_labeled.csv'
inv_df_raw = pd.read_csv(loc)

C:\Users\franc\AppData\Local\Temp\ipykernel_59896\4083722076.py:2: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  inv_df_raw = pd.read_csv(loc)

In [3]:
# keep only clean data
inv_df_clean = inv_df_raw.loc[inv_df_raw['Exclusion'].isnull()].copy()

In [4]:
inv_df_clean.to_clipboard(index=False)

In [5]:
# merge in warehouse demographics
loc = Path.cwd().parent / 'data' / 'inputs' / 'warehouse_demographics.xlsx'
whse_demo_df = pd.read_excel(loc, engine='openpyxl')

inv_df_clean = inv_df_clean.merge(whse_demo_df, how='left', on='whse', validate='m:1')

In [6]:
inv_df_clean.head(3)

,whse,orderno,ordersuf,lineno,invoicedt,custno,custname,item,itemdesc,unit,...,pdrecno,vendno,arpvendno,xcost_adj,GP$,Margin,month,Exclusion,whse_name,division
0,101,933,0,1,2022-02-09,107113,K & S,PAICADS2,CADS-2 DUCT SEALANT GRAY 2 GAL,EA,...,57983,16632.0,0.0,20.20459,6.59541,0.246097,2022-02,NaN,Clifton HVAC,HVAC
1,101,933,0,2,2022-02-09,107113,K & S,DIVB503,"B-503 2"" CHIP BRUSH",PC,...,3285,12773.0,0.0,0.25046,0.75954,0.752020,2022-02,NaN,Clifton HVAC,HVAC
2,101,911000109,0,1,2022-01-27,100151,BD OF ED GARFIELD,GSS62,16GA. 48X96 GALV STEEL,SH,...,0,15105.0,0.0,2354.37936,1211.30064,0.339711,2022-01,NaN,Clifton HVAC,HVAC

In [7]:
sum(inv_df_clean['netamt'])

99914109.34000106

In [8]:
loc = Path.cwd().parent / 'data' / 'generated' / 'invoice_data_2_in-scope.csv'
inv_df_clean.to_csv(loc, index=False)